<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,178},{114,86}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{114,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>stand0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,178},{114,86}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{114,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>stand0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,178},{114,86}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{114,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>stand0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{114,86}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{114,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>stand0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,90},{114,86}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{114,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>stand0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,90},{114,86}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{114,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>stand0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,90},{114,86}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{114,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>stand0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{114,86}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{114,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>stand0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{114,86}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{114,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>stand0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{114,86}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{114,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>stand0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,86}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{114,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>stand0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,86}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{114,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snowman.png</string>
            <key>size</key>
            <string>{466,266}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dfad53c60007fa0d778fee386bfd5a6:1/1$</string>
            <key>textureFileName</key>
            <string>snowman.png</string>
        </dict>
    </dict>
</plist>
